.container-usps {
  min-height: 200px;
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
 .container-usps {
   min-height: 330px;
 }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 .container-usps {
   min-height: 370px;
 }
}
