
 .testimonials-section {
  background-image: var(--orange-gradient);
 }
 .testimonials-slider-wrapper {
  width: calc(100% + 30px); 
  padding: 0 15px; 
  margin-left: -15px; 
 }
 .testimonial-container {
  min-height: 320px;
 }