.nav-container {
  padding: 30px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
}
.navbar-brand img {
 max-width: 158px !important;
 margin-left: auto !important;
 z-index: 99;
}
.nav-list {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  left: 0;
  top: 0;
  opacity: 100;
  z-index: 90;
  width: 100%;
  height: 0vh;
  transition: height 0.6s ease-in-out;
  transition-delay: 0.2s;
}
.nav-list.expanded {
  height: 100vh;
  transition: height 0.6s ease-in-out;
}
.link {
  font-weight: bold;
  color: var(--black);
  text-transform: uppercase;
  font-size: 20px;
}
.links {
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: auto;
  padding: 45% 20px 35% 20px;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}
.nav-list.expanded .links {
  height: 100%;
  padding: 45% 20px 35% 20px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.4s;
}
.hamburger-react {
  display: block;
  margin: auto 0 auto auto;
  z-index: 99;
  position: fixed;
  top: 0;
}
.nav-link {
 font-weight: bold;
 font-size: 13px;
 color: var(--black);
 transition: none;
}
.dropdown-icon {
  object-fit: contain;
  width: 17px;
  height: 17px;
  margin: 0 0 3px 7px;
  transition: 0.5s;
}
.dropdown-icon.clicked {
  transform: rotate(-180deg);
}
.dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: transparent;
  box-shadow: none;
  margin: 0 auto;
  position: static;
  max-height: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  padding: 20px auto;
  border: none;
}
.dropdown-menu.open {
  max-height: 1000px;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  border: none;
}
.dropdown-item {
  margin: 10px auto;
}
.dropdown-item:hover {
  background-color: transparent !important;
  color: var(--orange) !important;
}
.active {
 border-bottom: solid 2px var(--orange);
 background-color: transparent;
}

.nav-link:active {
  border-bottom: solid 2px var(--orange) !important;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .navbar-brand img {
    margin-left: 0 !important;
    margin-right: auto !important;
  }
  .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-list {
    position: static;
    background-color: rgba(255, 255, 255, 0.95);
    opacity: 1;
    z-index: 90;
    width: 100%;
    height: 50px;
    transition: none;
  }
  .nav-list.expanded {
    height: auto;
    transition: none;
  }
  .nav-list.expanded .links {
    height: auto;
    padding: 0;
    opacity: 1;
    transition: none;
  }
  .hamburger-react {
    display: none;
  }
  .links {
    height: 100%;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding: 0;
    opacity: 1;
  }
  .link {
    font-weight: bold;
    color: var(--black);
    text-transform: capitalize;
    font-size: 13px;
    margin: auto 10px;
    padding-bottom: 5px;
  }
  .active {
    border-bottom: solid 2px var(--orange);
    background-color: transparent;
   }
  .link.dropdown-item {
    margin: 0;
  }
  .dropdown-icon {
    object-fit: contain;
    width: 12px;
    height: 12px;
    margin: 0 0 1px 7px;
    transition: 0.5s;
  }
  .dropdown {
    position: static;
  }
  .dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    box-shadow: none;
    margin: 0 auto;
    height: 0px;
    opacity: 0;
    transition: none;
    padding: 20px auto;
  }
  .dropdown-menu.open {
    text-align: start;
    margin-top: 10px;
    height: auto;
    opacity: 1;
    transition: none;
    background-color: white;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.2);
    border: none;
  }
  }