.navbar-brand img {
 max-width: 158px !important;
 margin-left: auto !important;
}
.navbar {
 padding: 30px 0px 20px 0px;
}
.navbar-toggler {
 border: none;
 padding: 4px;
 margin-bottom: 10px;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
   outline: none;
   box-shadow: none;
}
.animated-icon2 {
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}
.animated-icon2 span {
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}
.animated-icon2 span {
background: var(--black);
}
.animated-icon2 span:nth-child(1) {
top: 0px;
}
.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
top: 10px;
}
.animated-icon2 span:nth-child(4) {
top: 20px;
}
.animated-icon2.open span:nth-child(1) {
top: 11px;
width: 0%;
left: 50%;
}
.animated-icon2.open span:nth-child(2) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}
.animated-icon2.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}
.animated-icon2.open span:nth-child(4) {
top: 11px;
width: 0%;
left: 50%;
}
.nav-link {
 font-weight: bold;
 font-size: 13px;
 color: var(--black) !important;
 transition: none;
}
.navbar-nav {
 padding: 20px 0px;
}
.dropdown-menu {
 margin-top: 0px;
}
.active {
 border-bottom: solid 2px var(--orange);
 background-color: transparent;
}
.dropdown-item.active {
  background-color: transparent;
  color: var(--black);
}
.nav-link:active {
  border-bottom: solid 2px var(--orange) !important;
}
.dropdown-menu {
 padding: 0px;
 border: 0;
 box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
}
.dropdown-item {
 font-family: 'Montserrat', sans-serif;
 color: var(--black);
 font-size: 14px;
 font-weight: bold;
 font-style: normal;
 line-height: 20px;
 overflow-x: hidden;
 padding: 15px 20px;
}
.nav-item.btn-orange {
 max-width: 250px;
 text-align: center;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .navbar-brand img {
    margin-left: 0 !important;
    margin-right: auto !important;
  }
   .dropdown-menu {
     padding: 15px 0px;
   }
   .dropdown-item {
     font-family: 'Montserrat', sans-serif;
     color: var(--black);
     font-size: 14px;
     font-weight: bold;
     font-style: normal;
     line-height: 20px;
     overflow-x: hidden;
     padding: 15px 20px;
   }

 
  }