.testimonial-slide {
 background: #FFFFFF;
 box-shadow: 0px 0px 35px rgb(0 0 0 / 10%);
 border-radius: 16px;
}
.testimonial-slide-wrapper {
 padding: 10px;
}
.name {
 font-size: 16px;
 line-height: 24px;
 margin: 0 0 12px;
 font-weight: bold;
}